
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
      <alert></alert>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Create Terminal</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

              <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && createTerminal()" #f="ngForm" novalidate>
                    <!-- <div class="form-group"><label class="col-sm-2 control-label">Terminal Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="name" placeholder="Terminal Name" [(ngModel)]="model.name" #name="ngModel" required />
                          <div *ngIf="f.submitted && !name.valid" class="help-block">Terminal Name is required</div>

                        </div>
                    </div> -->

                    <div class="form-group"><label class="col-sm-2 control-label">Terminal Code</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="code" placeholder="Terminal Code" [(ngModel)]="model.code" #code="ngModel" required />
                          <div *ngIf="f.submitted && !code.valid" class="help-block">Terminal Code is required</div>

                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Serial Number</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="serialNo" placeholder="Serial Number" [(ngModel)]="model.serialNo" #serialNo="ngModel" required />
                        <div *ngIf="f.submitted && !serialNo.valid" class="help-block">Serial Number is required</div>
                      </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Manufacturer</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="manufacturer" placeholder="Manufacturer" [(ngModel)]="model.manufacturer" #manufacturer="ngModel" required />
                        <div *ngIf="f.submitted && !manufacturer.valid" class="help-block">Manufacturer is required</div>

                      </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Model No</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="modelNo" placeholder="Model No" [(ngModel)]="model.modelNo" #modelNo="ngModel" required />
                        <div *ngIf="f.submitted && !modelNo.valid" class="help-block">Model No is required</div>

                      </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Build No</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="buildNo" placeholder="Build No" [(ngModel)]="model.buildNo" #buildNo="ngModel" required />
                        <div *ngIf="f.submitted && !buildNo.valid" class="help-block">Build No is required</div>
                      </div>
                    </div>



                    <div class="form-group"><label class="col-sm-2 control-label">Operating System</label>

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-4">
                                  <input type="text" class="form-control" name="os" placeholder="Operation System" [(ngModel)]="model.os" #os="ngModel" required />
                                  <div *ngIf="f.submitted && !os.valid" class="help-block">Operation System is required</div>
                                </div>
                                <div class="col-md-4">
                                  <input type="text" class="form-control" name="osVersion" placeholder="Operation System Version" [(ngModel)]="model.osVersion" #osVersion="ngModel" required />
                                  <div *ngIf="f.submitted && !osVersion.valid" class="help-block">Operation System Version is required</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="form-group"><label class="col-sm-2 control-label">Operation System</label> -->
                      <!-- <div class="col-sm-10">
                        <input type="text" class="form-control" name="os" placeholder="Operation System" [(ngModel)]="model.os" #os="ngModel" required />
                        <div *ngIf="f.submitted && !os.valid" class="help-block">Operation System is required</div>
                      </div>
                    </div> -->

                    <!-- <div class="form-group"><label class="col-sm-2 control-label">Operation System Version</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="osVersion" placeholder="Operation System Version" [(ngModel)]="model.osVersion" #osVersion="ngModel" required />
                        <div *ngIf="f.submitted && !osVersion.valid" class="help-block">Operation System Version is required</div>
                      </div>
                    </div> -->

                    <div class="form-group"><label class="col-sm-2 control-label">Firmware No</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="firmwareNo" placeholder="Firmware No" [(ngModel)]="model.firmwareNo" #firmwareNo="ngModel" required />
                        <div *ngIf="f.submitted && !firmwareNo.valid" class="help-block">Firmware No is required</div>
                      </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" placeholder="Description" [(ngModel)]="model.description" #description="ngModel" required />
                        <div *ngIf="f.submitted && !description.valid" class="help-block">Descriptionis required</div>
                      </div>
                    </div>



                    <div class="hr-line-dashed"></div>
                    <div class="form-group float-e-margins"><h5 style="margin:15px"> Assign terminal to a Merchant</h5>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Merchant Name</label>
                      <div class="col-sm-10">
                        <ng2-completer inputClass="form-control"  name="merchantId"  [(ngModel)]="model.merchantId" [datasource]="dataService" [minSearchLength]="2"
                  (selected)="merchantSelected($event)" ></ng2-completer>
                      </div>
                  </div>




                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit">Create Terminal</button>
                        </div>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
